#board{
    -fx-border-width: 0.5em;
    -fx-border-color: #EDB5BF;
    -fx-border-style: solid inside;
    -fx-padding: 0.5em;
    -fx-background-color: #FAF9F6;
}

#field{
    -fx-padding: 0.3em;
    -fx-border-width: 0.1em;
    -fx-border-color: #5F6366;
}