*{
    -fx-background-color: #EDB5BF;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-weight: bold;
    -fx-text-fill: #5F6366;
    -fx-background-radius: 1.5em;
}

*:hover{
    -fx-background-color: #99CED3;
}

#start{
    -fx-font-size: 24px;
    -fx-background-color: #EDB5BF;

}

#start:hover{
    -fx-background-color: #99CED3;
}

#generic{
    -fx-font-size: 18px;
}

#quit{
    -fx-font-size: 24px;
    -fx-background-color: #EDB5BF;
}

#quit:hover{
    -fx-background-color: #99CED3;
}