*{
    -fx-font-family: 'Courier New', monospace;
    -fx-text-fill: #5F6366;
    -fx-background-radius: 1em;
    -fx-text-alignment: center;
}


#welcome{
    -fx-font-size: 56px;
    -fx-background-color: #EDB5BF;
    -fx-border-width: 2px;
}

#generic{
   -fx-font-size: 20px;
}

#rankings-title{
    -fx-background-color: #EDB5BF;
    -fx-font-size: 45px;
}

#rules-title{
    -fx-background-color: #EDB5BF;
    -fx-font-size: 25px;
}