*{
    -fx-font-family: 'Courier New', monospace;
    -fx-text-fill: #5F6366;
    -fx-background-radius: 1em;
    -fx-text-alignment: center;
}


#welcome{
    -fx-font-size: 56px;
    -fx-background-color: #EDB5BF;
    -fx-border-width: 2px;
    -fx-text-alignment: center;
}

#generic{
   -fx-font-size: 20px;
}

#rankings-title{
    -fx-background-color: #EDB5BF;
    -fx-font-size: 45px;
}

#rules-title{
    -fx-background-color: #EDB5BF;
    -fx-font-size: 25px;
}

#player1{
    -fx-font-size: 20px;
    -fx-background-color: #EDB5BF;
    -fx-background-radius: 0.2em;
}

#player2{
    -fx-font-size: 20px;
    -fx-background-color: #99CED3;
    -fx-background-radius: 0.2em;
}

#warning{
    -fx-font-size: 20px;
    -fx-background-color: #EDB5BF;
    -fx-background-radius: 0.2em;
    -fx-text-alignment: center;
}

.text-field{
    -fx-background-color: #FAF9F6;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 0.5em;
}

#winner{
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 0.5em;
    -fx-font-size: 30px;
}