#pane, .dialog-pane{
    -fx-background-color: #FAF9F6;
    -fx-border-width: 10px;
    -fx-border-color: #99CED3;
}

.dialog-pane{
    -fx-font-family: 'Courier New', monospace;
    -fx-text-fill: #5F6366;
}

.dialog-pane > .button{
    -fx-background-color: #EDB5BF;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-weight: bold;
    -fx-text-fill: #5F6366;
    -fx-background-radius: 1.5em;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: #5F6366;
    -fx-text-fill: #5F6366;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 18;

}

.table-view .column-header {
    -fx-background-color: #99CED3;
    -fx-border-color: #5F6366;
    -fx-border-width: 1px;
    -fx-pref-height: 35px;
    -fx-font-size: 20;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #DEEAEC;
}

